<div class="card about-card clearfix">
    <div class="about-image text-center">
        <img
            class="profile-img"
            src="../../img/profile.jpg"
            alt="My profile picture"
        />
    </div>
    <div class="about-body">
        <div class="location text-center">
            <i class="fa fa-map-marker-alt"></i> Corrientes, Argentina
        </div>
        <h1 class="about-name text-center">
            I'm Maximiliano Gonzalez Schweizer
        </h1>
        <h2 class="about-title text-center">Full Stack Developer</h2>
        <p class="about-text">
            I’m very proactive and passionate about challenges and innovative
            projects. I love learning about cutting-edge technologies, how they
            work under the hood and how to make scalable and maintainable
            applications.
        </p>
    </div>
    <div class="about-footer">
        <ul class="socials">
            <li class="socials-item">
                <i class="social-icon fa fa-envelope"></i>
                <span class="social-text">maxi.g14@hotmail.com</span>
            </li>
            <li class="socials-item">
                <i class="social-icon fa fa-mobile"></i>
                <span class="social-text">+5493794245853</span>
            </li>
            <li class="socials-item">
                <i class="social-icon fab fa-skype"></i>
                <span class="social-text">max.g14</span>
            </li>
            <li class="socials-item">
                <i class="social-icon fab fa-linkedin"></i>
                <span class="social-text">linkedin.com/in/maxigs7</span>
            </li>
        </ul>
    </div>
</div>
