<div class="card" id="About">
    <div class="card-image"></div>
    <div class="card-body">
        <span class="location">
            <i class="fa fa-map-marker-alt"></i> Corrientes, Argentina
        </span>
        <h1 class="card-title">I'm Maximiliano Gonzalez Schweizer</h1>
        <h2>Full Stack Developer</h2>
        <hr />
        <p class="card-text">
            I’m very proactive and passionate about challenges and innovative
            projects. I love learning about cutting-edge technologies, how they
            work under the hood and how to make scalable and maintainable
            applications.
        </p>
    </div>
    <div class="card-footer">
        <ul class="socials">
            <li>
                <i class="fa fa-envelop"></i>
                <span class="social-text">maxi.g14@hotmail.com</span>
            </li>
            <li>
                <i class="fa fa-phone-alt"></i>
                <span class="social-text">+5493794245853</span>
            </li>
            <li>
                <i class="fa fa-skype"></i>
                <span class="social-text">max.g14</span>
            </li>
            <li>
                <i class="fa fa-linkedin"></i>
                <span class="social-text">linkedin.com/in/maxigs7</span>
            </li>
        </ul>
    </div>
</div>
