<h2 class="title text-uppercase" id="Certificates">Certificates</h2>

<div class="certificates-cards">
    <div class="card certificates-card clearfix">
        <div class="certificate-logo">
            <img src="../../img/platzi.webp" alt="" />
        </div>
        <div class="certificate-body">
            <strong class="certificate-date">
                May, 2013
            </strong>
            <h2 class="certificate-title">
                Professional Frontend Course
            </h2>
        </div>
    </div>
    <div class="card certificates-card clearfix">
        <div class="certificate-logo">
            <img src="../../img/microsoft.png" alt="" />
        </div>
        <div class="certificate-body">
            <strong class="certificate-date">
                September 11, 2014
            </strong>
            <h2 class="certificate-title">
                Microsoft Certified Professional
            </h2>
        </div>
    </div>
    <div class="card certificates-card clearfix">
        <div class="certificate-logo">
            <img src="../../img/mug.png" alt="" />
        </div>
        <div class="certificate-body">
            <strong class="certificate-date">
                October, 2014
            </strong>
            <h2 class="certificate-title">
                Cross platform mobile development with Xamarin
            </h2>
        </div>
    </div>
    <div class="card certificates-card clearfix">
        <div class="certificate-logo">
            <img src="../../img/microsoft.png" alt="" />
        </div>
        <div class="certificate-body">
            <strong class="certificate-date">
                December 30, 2014
            </strong>
            <h2 class="certificate-title">
                Microsoft Specialist: Programming in HTML5 with JavaScript and
                CSS3
            </h2>
        </div>
    </div>
    <div class="card certificates-card clearfix">
        <div class="certificate-logo">
            <img src="../../img/microsoft.png" alt="" />
        </div>
        <div class="certificate-body">
            <strong class="certificate-date">
                December 17, 2015
            </strong>
            <h2 class="certificate-title">
                Microsoft Certified Solutions Developer: Web Applications
            </h2>
        </div>
    </div>
    <div class="card certificates-card clearfix">
        <div class="certificate-logo">
            <img src="../../img/microsoft.png" alt="" />
        </div>
        <div class="certificate-body">
            <strong class="certificate-date">
                September 26, 2016
            </strong>
            <h2 class="certificate-title">
                Microsoft Certified Solutions Associate: Web Applications
                Charter Member
            </h2>
        </div>
    </div>
    <div class="card certificates-card clearfix">
        <div class="certificate-logo">
            <img src="../../img/microsoft.png" alt="" />
        </div>
        <div class="certificate-body">
            <strong class="certificate-date">
                September 26, 2016
            </strong>
            <h2 class="certificate-title">
                Microsoft Certified Solutions Developer: App Builder Charter
                Member
            </h2>
        </div>
    </div>
</div>
