<div class="card experiences-card">
    <div class="experience-info">
        <div class="experience-time">
            <div class="experience-time-from">
                <strong>From</strong>
                <span>Apr 2016</span>
            </div>
            <div class="experience-time-to">
                <strong>To</strong>
                <span>Present</span>
            </div>
        </div>
        <div class="text-uppercase" data-ago-from="04/01/2016"></div>
        <h2>Devlights Solutions</h2>
        <div><i class="fa fa-map-marker-alt"></i> Corrientes, Argentina</div>
    </div>
    <div class="experience-description">
        <p>Description</p>
    </div>
</div>

<div class="card experiences-card">
    <div class="experience-info">
        <div class="experience-time">
            <div class="experience-time-from">
                <strong>From</strong>
                <span>Jul 2012</span>
            </div>
            <div class="experience-time-to">
                <strong>To</strong>
                <span>Apr 2016</span>
            </div>
        </div>
        <div
            class="text-uppercase"
            data-ago-from="07/01/2012"
            data-ago-to="04/01/2016"
        ></div>
        <h2>Desarrollos NEA</h2>
        <div><i class="fa fa-map-marker-alt"></i> Corrientes, Argentina</div>
    </div>
    <div class="experience-description">
        <p>Description</p>
    </div>
</div>
