<div class="card skills-card clearfix" id="Skills">
    <div class="card-row">
        <div class="card-column skills">
            <h2 class="card-title">Skills</h2>
            <div class="skill-list">
                <span class="skill-item">ASP.NET MVC</span>
                <span class="skill-item">.NET Core</span>
                <span class="skill-item">NodeJS</span>
                <span class="skill-item">JavaScript</span>
                <span class="skill-item">AngularJS & Angular</span>
                <span class="skill-item">jQuery</span>
                <span class="skill-item">VueJS</span>
                <span class="skill-item">Ionic</span>
                <span class="skill-item">Entity Framework</span>
                <span class="skill-item">SQL Server</span>
                <span class="skill-item">MySQL</span>
                <span class="skill-item">MongoDB</span>
                <span class="skill-item">CSS</span>
            </div>
        </div>
        <div class="card-column languages">
            <h2 class="card-title">Language Skills</h2>

            <div class="languages-list">
                <div class="language-item">
                    <img src="../../img/spanish.png" alt="Spanish" />
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                </div>
                <div class="language-item">
                    <img src="../../img/english.png" alt="English" />
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
