<section class="section">
  <div class="section-title">
    <h1 class="text-uppercase">About Me</h1>
    <div class="section-title-icons">
      <a href="#" target="_blank">
        <span class="mdi mdi-linkedin"></span>
      </a>
      <a href="#">
        <span class="mdi mdi-skype"></span>
      </a>
      <a href="#">
        <span class="mdi mdi-github"></span>
      </a>
    </div>
  </div>

  <div class="section-body">
    <img src="assets/images/profile.jpg" class="section-image photography" />

    <div class="section-content">
      <h3 class="text-uppercase">{{ profile.title }}</h3>
      <h2 class="text-strong">{{ profile.firstName }} {{ profile.lastName }}</h2>

      <p>{{ profile.summary }}</p>

      <ul class="info-items">
        <li><span class="mdi mdi-map-marker"></span> {{ profile.location }}</li>
        <li>
          <span class="mdi mdi-message"></span>
          <a [href]="'mailto:' + profile.email">{{ profile.email }}</a>
        </li>
        <li>
          <span class="mdi mdi-phone"></span>
          <a href="{{ profile.phoneNumber | phoneURI: 'AR' }}">{{
            profile.phoneNumber | phoneNumberInternational: 'AR'
          }}</a>
        </li>
      </ul>

      <div class="section-actions">
        <a href="#" class="btn btn-primary">Download</a>
        <a href="#" class="btn btn-primary">Contact me</a>
      </div>
    </div>
  </div>
</section>
