@import '_variables';
:host {
  .section-image {
    transform: rotate(-13deg) translateX(-100px);
  }

  .info-items {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: flex;
      margin-bottom: 10px;

      .mdi {
        color: $secondary-color;
        font-size: 1.3rem;
        margin-right: 10px;
      }
    }

    a {
      color: $secondary-text-color;
      text-decoration: none;
    }
  }
}
