<a class="navbar-toggle hidden-md-up" (click)="toggleMenu()">
  <span class="mdi mdi-menu"></span>
</a>

<a routerLink="/home" class="brand-name text-uppercase">Maxi Gonzalez Schweizer</a>

<div class="menu" [ngClass]="{ open: menuIsOpen$ | async }">
  <img src="assets/images/profile.jpg" class="profile-img" />

  <a routerLink="/home" class="brand-name text-uppercase text-center">MGS</a>

  <a routerLink="/home" routerLinkActive="active" class="menu-link">
    <span class="menu-icon mdi mdi-home"></span>
    <span class="menu-title">
      {{ 'menu.home' | translate }}
    </span>
  </a>
  <a routerLink="/about" routerLinkActive="active" class="menu-link">
    <span class="menu-icon mdi mdi-account-circle-outline"></span>
    <span class="menu-title">
      {{ 'menu.about' | translate }}
    </span>
  </a>
  <a routerLink="/resume" routerLinkActive="active" class="menu-link">
    <span class="menu-icon mdi mdi-card-account-details-outline"></span>
    <span class="menu-title">
      {{ 'menu.resume' | translate }}
    </span>
  </a>
  <a routerLink="/contact" routerLinkActive="active" class="menu-link">
    <span class="menu-icon mdi mdi-phone-outline"></span>
    <span class="menu-title">
      {{ 'menu.contact' | translate }}
    </span>
  </a>
</div>
