@import '_variables';

$menu-item-height: 100px;

:host {
  align-items: center;
  background-color: $primary-color;
  color: $primary-text-color;
  display: flex;
  flex-wrap: wrap;
  left: 0;
  min-height: $navbar-height;
  position: fixed;
  top: 0;
  transition: margin-left 0.5s;
  width: 100%;

  a {
    color: $primary-text-color;
    text-decoration: none;
  }

  .navbar-toggle {
    border-right: 2px solid rgba(255, 255, 255, 0.08);
    cursor: pointer;
    display: block;
    font-size: 1.1rem;
    height: $navbar-height;
    line-height: $navbar-height;
    text-align: center;
    overflow: hidden;
    width: $navbar-height;
  }

  .brand-name {
    display: block;
    font-size: 0.9rem;
    letter-spacing: 0;
    line-height: $navbar-height;
    margin: 0 0 0 20px;
    padding: 0;
  }

  .menu {
    background-color: $primary-color;
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    height: 100%;
    left: 0;
    overflow-x: hidden;
    position: fixed;
    top: 0;
    transition: width 0.5s;
    width: 0;
    z-index: 1;

    .profile-img {
      width: $navbar-width;
    }

    .brand-name {
      display: none;
      background-color: $accent-color;
      color: $accent-text-color;
      margin: 0;
    }

    .language-selector {
      display: flex;
      justify-content: start;

      &-item {
        cursor: pointer;
        width: 50%;
      }
    }

    .menu-link {
      align-items: center;
      color: rgba($primary-text-color, 0.45);
      border-bottom: 1px solid rgba(225, 246, 255, 0.07);
      display: flex;
      flex-direction: column;
      font-size: 0.8rem;
      justify-content: center;
      letter-spacing: 0.07rem;
      padding: 1rem 0;
      text-transform: uppercase;

      &.active {
        color: $primary-text-color;
      }

      .mdi {
        font-size: 2.5rem;
        margin-bottom: 0.2rem;
      }

      .menu-title {
        white-space: nowrap;
      }
    }
  }

  // States
  &.open {
    margin-left: $navbar-width;

    .menu {
      width: $navbar-width;
    }
  }

  @media screen and (min-width: $breakpoint-md) {
    margin-left: 0 !important;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: $navbar-width;

    > .brand-name,
    > .navbar-toggle {
      display: none;
    }

    .menu {
      width: $navbar-width;

      .brand-name {
        display: block;
        font-size: 1.2rem;
      }
    }
  }
}
