<nav class="navbar">
    <div class="brand-name">MGS</div>

    <div class="menu">
        <a class="menu-icon" href="#">
            <span class="mdi mdi-account"></span>
        </a>
        <a class="menu-icon" href="#">
            <span class="mdi mdi-head-cog-outline"></span>
        </a>
        <a class="menu-icon" href="#">
            <span class="mdi mdi-briefcase"></span>
        </a>
        <a class="menu-icon" href="#">
            <span class="mdi mdi-certificate"></span>
        </a>
        <a class="menu-icon" href="#">
            <span class="mdi mdi-translate"></span>
        </a>
        <a class="menu-icon" href="#">
            <span class="mdi mdi-email"></span>
        </a>
    </div>

    <div class="download">
        <a class="menu-icon" href="#">
            <span class="mdi mdi-cloud-download"></span>
        </a>
    </div>
</nav>
