@import '_variables';

:host {
  .app-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: $navbar-height;
    transition: margin-left 0.5s;
    width: 100%;

    &.menu-open {
      margin-left: $navbar-width;
    }

    @media screen and (min-width: $breakpoint-md) {
      margin-left: 0 !important;
      padding-left: $navbar-width;
      padding-top: 0;
    }
  }
}
