body {
    background-color: #eee;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
}

/*****************************************************************************
MY REBOOT
*****************************************************************************/
h1,
h2,
h3,
h4,
h5,
h6,
.title {
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 992px;
    margin: auto;
}

.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.clearfix {
    overflow: auto;
    zoom: 1;
}
/*****************************************************************************
NAVBAR
*****************************************************************************/
nav.navbar {
    background-color: #fff;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
    color: #333;
    height: 70px;
    position: sticky;
}

#burger {
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 2rem;
    padding: 0.7rem 1.25rem;
}

#my-navbar {
    background: #fff;
    list-style: none;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.5);
    padding: 0;
    transform: scaleY(0);
    transition: 0.5s transform ease;
    transform-origin: top;
}

#my-navbar.collapse {
    transform: scaleY(1);
}

#my-navbar.collapse .nav-item {
    opacity: 1;
}
#my-navbar .nav-item {
    opacity: 0;
    transition: 0.5s opacity ease;
}

#my-navbar .nav-link {
    color: #333;
    display: block;
    padding: 1rem 1.5rem;
    text-transform: uppercase;
}

/*****************************************************************************
CARD COMMON
*****************************************************************************/
.card {
    background: #fff;
    margin: 15px;
    padding: 15px;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.5);
    position: relative;
}

/*****************************************************************************
ABOUT CARD
*****************************************************************************/
.about-card {
    padding-bottom: 150px;
}
.profile-img {
    height: 200px;
    -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

.about-body {
    margin-top: 10px;
}

.about-card .location {
    font-size: 0.9rem;
}

.about-name {
    font-size: 1.3rem;
}
.about-title {
    font-size: 1.1rem;
}
.about-text {
    font-size: 0.9rem;
}
.about-footer {
    position: absolute;
    bottom: 0;
    background-color: #333;
    left: 0;
    width: 100%;
    color: #fff;
}

.about-footer .socials {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
}
.about-footer .socials-item {
    width: 50%;
    text-align: center;
    display: flex;
    height: 75px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.about-footer .socials-item .fa {
    font-size: 2rem;
}
.about-footer .socials-item .social-text {
    font-size: 0.75rem;
    margin-top: 0.5rem;
}
/* Extra small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .profile-img {
        -webkit-clip-path: polygon(0 0, 100% 0, 79% 100%, 0% 100%);
        clip-path: polygon(0 0, 100% 0, 79% 100%, 0% 100%);
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .about-card {
        padding-bottom: 90px;
    }
    .about-image {
        float: left;
        margin-right: 15px;
    }

    .about-card .location {
        text-align: right;
    }
    .about-name,
    .about-title {
        text-align: left;
    }
    .about-footer .socials-item {
        width: 25%;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    header {
        background-repeat: no-repeat;
        background-image: url('../img/background.jpg');
        background-size: cover;
        background-position: 50% 50%;
        min-height: 300px;
        position: relative;
    }

    nav.navbar {
        bottom: 0;
        position: absolute;
        width: 100%;
    }

    #burger {
        display: none;
    }

    #my-navbar {
        box-shadow: none;
        display: flex;
        transform: scaleY(1);
        align-items: stretch;
        justify-content: center;
        height: 100%;
    }

    #my-navbar .nav-item {
        opacity: 1;
    }

    #my-navbar .nav-link {
        padding-bottom: 1.4rem;
        padding-top: 1.4rem;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
