@import '_variables';

:host {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 10px;
  width: 100%;

  .section {
    max-width: 1040px;
    width: 100%;

    &-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  .resume {
    &-top,
    &-middle {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
      width: 100%;
    }

    &-box {
      display: flex;
      flex-direction: column;
    }
  }

  @media screen and (min-width: $breakpoint-md) {
    .resume {
      &-top {
        flex-direction: row;
        justify-content: space-around;
      }

      &-box {
        align-items: center;
        width: 50%;

        &:first-child {
          margin-right: 10px;
        }
      }

      .section-content-title {
        min-width: 250px;
        text-align: center;
      }
    }
  }

  @media screen and (min-width: $breakpoint-xl) {
    .resume {
      &-middle {
        flex-direction: row;
      }
    }
  }
}
