<section class="section" *ngIf="lang$ | async as lang">
  <div class="section-title">
    <i class="mdi mdi-card-account-details-outline"></i>
    <h1 class="text-lowercase">{{ 'menu.resume' | translate }}</h1>
  </div>

  <div class="section-content">
    <div class="experiences-and-certificates">
      <ng-container *ngIf="experiences$ | async as experiences">
        <app-experiences-list [experiences]="experiences"></app-experiences-list>
      </ng-container>
      <ng-container *ngIf="certificates$ | async as certificates">
        <app-certificates-list [certificates]="certificates" [lang]="lang"></app-certificates-list>
      </ng-container>
    </div>

    <!-- <div class="skills">
      <ng-container *ngIf="skills$ | async as skills">
        <app-skills-list [skills]="skills"></app-skills-list>
      </ng-container>
    </div> -->
  </div>
</section>
