//*****************************************************************/
// FONTS
//****************************************************************/
$font-size-base: 15px;

//*****************************************************************/
// COLORS
//****************************************************************/

$primary-color: #264653;
$secondary-color: #2a9d8f;
$accent-color: #e76f51;
$primary-text-color: #fff;
$secondary-text-color: #333;
$app-background-color: #fff;
$app-text-color: #333;

//*****************************************************************/
// SCREENS
//****************************************************************/
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

//*****************************************************************/
// NAVBAR
//****************************************************************/
$navbar-height: 65px;
$navbar-width: 100px;

$image-bg-width: 500px;
