//*****************************************************************/
// FONTS
//****************************************************************/
$font-size-base: 14px;

//*****************************************************************/
// COLORS
//****************************************************************/

$primary-color: #264653;
$secondary-color: #2a9d8f;
$accent-color: #e76f51;

$primary-text-color: #fff;
$secondary-text-color: #fff;
$accent-text-color: #fff;

$app-background-color: #fff;
$app-text-color: #333;

//*****************************************************************/
// SCREENS
//****************************************************************/
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

//*****************************************************************/
// NAVBAR
//****************************************************************/
$navbar-height: 50px;
$navbar-width: 120px;

$image-bg-width: 500px;

//*****************************************************************/
// SPACES
//****************************************************************/
$app-margin: 10px;
