/* You can add global styles to this file, and also import other style files */
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap);
@import 'vendor/bootstrap-reboot.css';
@import '~@mdi/font/css/materialdesignicons.css';
@import '_variables';
@import '_typography';
@import '_global';

/********************************************************************
  COMPONENTS
 ********************************************************************/
.section {
  display: flex;
  flex-direction: column;
  max-width: 700px;

  &-title {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 20px;

    .mdi {
      font-size: 4rem;
    }
  }

  &-content {
    font-size: 1.2rem;
    margin-top: 20px;
  }
}
