<!DOCTYPE html>
<html class="no-js" lang="en-US">
    <head>
        <meta charset="utf-8" />
        <title>Resume - Max</title>
        <meta name="description" content="" />
        <%= require('html-loader!../partials/head.html') %>
    </head>

    <body>
        <%= require('html-loader!../partials/header.html') %>
        <div class="container">
            <%= require('html-loader!./partials/about.html') %> <%=
            require('html-loader!./partials/skills.html') %><%=
            require('html-loader!./partials/experience.html') %> <%=
            require('html-loader!./partials/certificates.html') %>
        </div>
        <%= require('html-loader!../partials/footer.html') %> <%=
        require('html-loader!../partials/scripts.html') %>
    </body>
</html>
